@import 'tailwindcss';
@import 'pretendard/dist/web/static/pretendard.css';

@theme {
  /** Main Colors */
  --color-primary: #6f9dd3;
  --color-secondary: #81d2e2;
  --color-white: #ffffff;
  --color-black: #232323;

  /* Gray Scale Colors */
  --color-gray-8: #232323;
  --color-gray-7: #676767;
  --color-gray-6: #576c84;
  --color-gray-5: #8193ae;
  --color-gray-4: #adb9c9;
  --color-gray-3: #d1d3dc;
  --color-gray-2: #d6e0f0;
  --color-gray-1: #fafbff;

  /** State Colors */
  --color-state-success: #80b2ff;
  --color-state-info: #61e4c5;
  --color-state-warning: #ffd465;
  --color-state-error: #ff9692;

  /** Text Colors */
  --color-text-primary: #676767;
  --color-text-secondary: #adb9c9;
  --color-text-caption: #d1d3dc;
  --color-text-black: #232323;
  --color-text-white: #ffffff;

  /* Border Colors */
  --color-border-active: #6f9dd3;
  --color-border-primary: #8193ae;
  --color-border-secondary: #d6e0f0;

  /** Typography */
  --text-logo: 48px;
  --text-h1: 32px;
  --text-h2: 30px;
  --text-h3: 28px;
  --text-xxl: 24px;
  --text-xl: 22px;
  --text-lg: 18px;
  --text-md: 16px;
  --text-sm: 12px;
  --text-xs: 11px;

  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /** Responsive layout */
  --breakpoint-mobile: 639px;
  --breakpoint-tablet: 767px;
  --breakpoint-desktop: 1023px;

  --width-desktop: 1024px;
  --width-tablet: 768px;
  --width-mobile: 540px;

  --font-sans: 'Pretendard', ui-sans-serif, system-ui, sans-serif;
  --font-bona: var(--font-bona-nova-sc), serif;
}

:root {
  line-height: 1.2;
  font-weight: 500;
  font-size: var(--text-md);
  font-family: 'Pretendard', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 모바일 설정 */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;

  --text-primary: #676767;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #232323; */
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--background);
  color: var(--text-primary);

  /* 스크롤바 숨기기 */
  ::-webkit-scrollbar {
    display: none;
  }
}
