@import 'tailwindcss';
@import 'pretendard/dist/web/static/pretendard.css';

@theme {
  /** Main Colors */
  --color-primary: #6f9dd3;
  --color-secondary: #81d2e2;
  --color-white: #ffffff;
  --color-black: #232323;

  /* Gray Scale Colors */
  --color-gray-8: #232323;
  --color-gray-7: #676767;
  --color-gray-6: #576c84;
  --color-gray-5: #8193ae;
  --color-gray-4: #adb9c9;
  --color-gray-3: #d1d3dc;
  --color-gray-2: #ebf0f8;
  --color-gray-1: #fafbff;

  /** State Colors */
  --color-state-success: #80b2ff;
  --color-state-info: #61e4c5;
  --color-state-warning: #ffd465;
  --color-state-error: #ff9692;

  /** Text Colors */
  --color-text-primary: #676767;
  --color-text-secondary: #adb9c9;
  --color-text-caption: #d1d3dc;
  --color-text-black: #232323;
  --color-text-white: #ffffff;

  /* Border Colors */
  --color-border-active: #6f9dd3;
  --color-border-primary: #8193ae;
  --color-border-secondary: #d6e0f0;

  /** Typography */
  --text-logo: 48px;
  --text-h1: 32px;
  --text-h2: 30px;
  --text-h3: 28px;
  --text-xxl: 24px;
  --text-xl: 22px;
  --text-lg: 18px;
  --text-md: 16px;
  --text-sm: 12px;
  --text-xs: 11px;

  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /** 브레이크 포인트는 기본 min으로 작동 */
  /** 브레이크 포인트 안에서 작업 필요시 max- 붙여야 함 ex)max-mobile: */
  --breakpoint-mobile: 639px;
  --breakpoint-tablet: 767px;
  --breakpoint-desktop: 1023px;

  --width-desktop: 1024px;
  --width-tablet: 768px;
  --width-mobile: 640px;

  --font-sans: 'Pretendard', ui-sans-serif, system-ui, sans-serif;
  --font-akaya: var(--font-akaya), serif;
}

:root {
  line-height: 1.2;
  font-weight: 500;
  font-size: var(--text-md);
  font-family: 'Pretendard', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 모바일 설정 */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;

  --text-primary: #676767;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #232323; */
  }
}

@layer base {
  /* 공통 토스트 스타일 */
  [data-sonner-toast] {
    border-radius: 12px !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    display: flex !important;
    justify-content: center !important; /* 가로 중앙 */
    align-items: center !important;     /* 세로 중앙 */
    text-align: center !important;
  }

  /* Success */
  [data-sonner-toast][data-type='success'] {
    --success-bg: #80B2FF;
    --success-border: #80B2FF;
    --success-text: #fff;
  }

  /* Info */
  [data-sonner-toast][data-type='info'] {
    --info-bg: #61E4C5;
    --info-border: #61E4C5;
    --info-text: #fff;
  }

  /* Warning */
  [data-sonner-toast][data-type='warning'] {
    --warning-bg: #FFDB81;
    --warning-border: #FFDB81;
    --warning-text: #fff;
  }

  /* Error */
  [data-sonner-toast][data-type='error'] {
    --error-bg: #FF9692;
    --error-border: #FF9692;
    --error-text: #fff;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  background: var(--background);
  color: var(--text-primary);
  word-break: break-all;
}
